<ul class="sidebar-nav">
  <li><a href="{% url 'db:index' %}">Home</a></li>
  <li><a href="{% url 'db:human-list' %}">All humans</a></li>
  <li><a href="{% url 'db:alien-list' %}">All aliens</a></li>
  <li><a href="{% url 'db:spaceship-list' %}">All ships</a></li>
  <li><a href="{% url 'db:abduction-list' %}">All abductions</a></li>
  <li><a href="{% url 'db:experiment-list' %}">All experiments</a></li>
  <li><a href="{% url 'db:tour-list' %}">All tours</a></li>
  <li><a href="{% url 'db:events-and-queries' %}">Your possibilities</a></li>
</ul>